<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Página inicial</h1>
    <p>Seja bem-vindo(a)</p>
    <nav>
        <ul>
            <li><a href="/sobre">Sobre</a></li>
            <li><a href="/experiencia">Experiência</a></li>
            <li><a href="/formacao">Formação</a></li>
            <li><a href="/contato">Contato</a></li>
        </ul>
    </nav>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit accusamus, quas in aspernatur, blanditiis tempora natus quibusdam nostrum unde fugit fugiat veniam. Quas nisi eveniet commodi? Quisquam ipsam ea labore.</p>
</body>
</html>