<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Sobre mim</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id sunt, molestiae minima accusantium omnis illo dolore modi enim, est tempora eius quia dicta earum dolores quis fugit maxime expedita adipisci!</p>
<a href="/">Voltar ao início</a>
</body>
</html>